<!DOCTYPE html>
<html lang="en">
<head>
</head>

<h1> FANCY PANTS AMENITIES </h1>

<script type="text/javascript" >
            $(document).ready(function() {        
        $('.carousel').carousel()
            });
</script> 

<script type='text/javascript' src="http://imsky.github.io/holder/holder.js"></script>


<div class="carousel slide" id="myCarousel">
 <ol class="carousel-indicators">
  <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
  <li data-slide-to="1" data-target="#myCarousel"></li>
  <li data-slide-to="2" data-target="#myCarousel"></li>
  <li data-slide-to="3" data-target="#myCarousel"></li>
 </ol>
 <div class="carousel-inner">
 <div class="active item">
  <%= link_to image_tag("GuitarPool.jpg", alt: "", size: "400x200") %>
 </div>
 <div class="item">
  <%= link_to image_tag("Bike.JPG", alt: "", size: "300x400") %>
 </div>
 <div class="item">
  <%= link_to image_tag("jakartaskylinepart2.jpg", alt: "", size: "300x400") %>
 </div>
 </div>
<a class="carousel-control left" data-slide="prev" href="#myCarousel"></a>
<a class="carousel-control right" data-slide="next" href="#myCarousel"></a>
</div>